/*-- scss:defaults --*/

// general colors
$body-bg: rgba(22, 65, 148, 1) !default;
$body-color: #fff !default;
$link-color: #CABA99 !default;
$selection-bg: rgba(255, 255, 255, 0.9) !default;

// headings
$presentation-heading-font: "Noto Sans", sans-serif !default;

// code blocks
$code-block-bg: transparent !default;

/*-- scss:mixins --*/

.reveal .slide-logo {
  height: 130px !important;
  width: 130px !important;
  max-width: unset !important;
  max-height: unset !important;
}

@mixin bodyBackground() {
  background: linear-gradient(135deg, rgba(22, 65, 148, 0.9), rgba(202, 186, 153, 0.9));
  background-repeat: no-repeat;
  background-size: cover;
}

.infobox {
  text-align: center;
  background-color: rgba(202, 186, 153, 0.3);
  border-radius: 10px;
  padding: 7px;
}

.center-xy {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}
